
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #fff;

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

